#site-banner-header-banner {
  top: 0;
}

#site-banner-footer-banner {
  bottom: 0;
}

.site-banner.container-fluid {
  max-width: none;
  z-index: 100000;
  width: 100%;
}

.site-banner .alert {
  margin-bottom: 0;
  padding-bottom: 15px;
  margin-top: 0px;
  text-align: center;
}

#site-banner-header-banner,
#site-banner-footer-banner.container-fluid {
  position: fixed;
  display: none;
}
