{%
set classes = [
  'alert',
  'alert-dismissible'
]
%}
<div id="{{ (is_footer == TRUE) ? 'site-banner-footer-banner': 'site-banner-header-banner' }}" class="site-banner container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div {{ attributes.addClass(classes, alert_type) }} role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        {{ content }}
      </div>
    </div>
  </div>
</div>
